<!-- {% assign entries = site[include.collection] | where_exp: "item", "item.tags contains 'composition'" %} -->
{% assign entries = site.posts  %}

{% if include.sort_by %}
  {% assign entries = entries | sort: include.sort_by %}
{% endif %}

{% if include.sort_order == 'reverse' %}
  {% assign entries = entries | reverse %}
{% endif %}

<!-- Get all the entries, sort out those that are not compositions, nor hidden. -->
{%- for post in entries -%}
{%- unless post.hidden -%}
{% if post.tags contains include.tag limit:include.max_tags %}
{% include archive-single.html %}
{% endif %}
  {%- endunless -%}
{%- endfor -%}
