---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "typography";

/* Define standard variables and values for website */
// $linkcolor: #CC6600;
//$textcolor: ;
//$fontsize: 18px;

a {
    text-decoration: none;
}

p.update_text {
    font-size: 0.65em;
}

div.update_text {
    padding-top: 10px;
}

.float-container {
    // border: 3px solid #fff;
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.float-child-l {
    width: 70%;
    float: left;
    padding: 10px;
    // border: 2px solid red;
}

.float-child-r {
    width: 30%;
    float: left;
    padding: 10px;
    // border: 2px solid red;
}

.cd_cover {
    float: right;
    margin: 0px 15px 15px 0px;
    // margin-bottom: 0px;
}

.cd_title {
    margin-top: 0px;
}

// Changed this in archive.scss:

  // .archive__item-teaser {
  //   @include breakpoint($small) {
  //     max-height: 200px;
  //   }

  //   @include breakpoint($medium) {
  // 	// Changed this from 120px to accomodate square CD pictures
  // 	max-height: 180px;
  //   }
  // }

// extending existing blockquote selector in base.scss
blockquote {
    font-size: 0.7em;
}

article.no_show {
    display: none;
}

// Code listings

.org-source-container {
    padding: 1em;
}

pre.src {
    margin-bottom: 1em;
    background: #263238;
    color: #eff;
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    font-size: .65em;
    line-height: 1.8;
    border-radius: 4px;
    padding: 1em;
}

.page__title {
    margin-bottom: 2.5em;
}
