---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "typography";

/* Define standard variables and values for website */
// $linkcolor: #CC6600;
//$textcolor: ;
//$fontsize: 18px;

a {
    text-decoration: none;
}

p.update_text {
    font-size: 0.65em;
}
